.tattoo {
    position: relative;
    background-color: #333;
    color: #f3f3f3;
    padding: 20px 10px;
    grid-column: span 4;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: .9;
    transition: opacity .3s;

    &:hover {
        opacity: 1;
    }

    &__name {
        letter-spacing: 3px;
        font-weight: 100;
    }

    &__image {
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    &__description {
        letter-spacing: 2px;
        font-weight: 100;
        margin-top: 20px;
    }
}